# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg-info/
*.egg
*.log
*.sqlite3
*.env
.env.*
.venv/
venv/
pip-wheel-metadata/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# ------------------------
# Go
# ------------------------
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log

# Go modules
/go.sum
/go.work.sum

# IDEs & Editors
.idea/
*.swp

# ------------------------
# OS-specific
# ------------------------
.DS_Store
Thumbs.db
